				<!-- Additional Elements -->
                <section class="wrapper style1 color2 align-center">
                    <div class="inner">
                        <h2>On s'en parle</h2>
                        <p>Autour d'un café ?</p>
                        <div class="index align-left">
                            <!-- Form -->
                                <section>
                                    <header>
                                        <h3>Bonjour,</h3>
                                    </header>
                                    <div class="content">

                                        <form method="post" action="#">
                                            <div class="fields">
                                                <div class="field half">
                                                    <label for="name">Comment vous appelez-vous ?</label>
                                                    <input type="text" name="name" id="name" value="" />
                                                </div>
                                                <div class="field half">
                                                    <label for="email">A quel mail pouvons-nous vous répondre ?</label>
                                                    <input type="email" name="email" id="email" value="" />
                                                </div>
                                                <div class="field">
                                                    <label for="message">Nous vous laissons libre cours...</label>
                                                    <textarea name="message" id="message" rows="6"></textarea>
                                                </div>
                                                <div class="field half">
                                                    <input type="checkbox" id="copy" name="copy" />
                                                    <label for="copy">Une copie de cet email ?</label>
                                                </div>
                                                <div class="field half">
                                                    <input type="checkbox" id="human" name="human"  />
                                                    <label for="human">Êtes-vous humain·e ?</label>
                                                </div>
                                            </div>
                                            <ul class="actions">
                                                <li><input type="submit" name="submit" id="submit" value="Envoyer" /></li>
                                            </ul>
                                        </form>

                                    </div>
                                </section>

                        </div>


                    </div>
                </section>
